<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head"></head>

<body>
      <!-- *** CUSTOMER MENU *** -->
      <div id="userleftnav" th:fragment="userleftnav" class="panel panel-default sidebar-menu">

         <div class="panel-heading">
            <h3 class="panel-title" th:text="#{user.leftnav.header}">Customer section</h3>
         </div>

         <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
               <li class="active"><a th:href="@{/user/stores}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <th:block th:text="#{user.leftnav.menu.1}"></th:block></a></li>
               <li><a href="customer-wishlist.html"><i class="fa fa-money fa-fw"></i><th:block th:text="#{user.leftnav.menu.2}"></th:block></a></li>
               <li><a href="customer-account.html"><i class="fa fa-credit-card fa-fw"></i><th:block th:text="#{user.leftnav.menu.3}"></th:block></a></li>
               <li><a href="index.html"><i class="fa fa-list fa-fw" aria-hidden="true"></i><th:block th:text="#{user.leftnav.menu.4}"></th:block></a></li>
               <li><a href="index.html"><i class="fa fa-user fa-fw"></i> <th:block th:text="#{user.leftnav.menu.5}"></th:block></a></li>
            </ul>
         </div>

      </div>
      <!-- /.col-md-3 -->

      <!-- *** CUSTOMER MENU END *** -->


</body>

</html>