<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Elmalci Elektrik Malzemeleri Pazarı</title>
	
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
  	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script -->
  	<!--  script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script  -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-ui-1-11-0.min.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>
  	<script src="/js/respond.min.js"></script>
   <script src="/js/front.js"></script>
   

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elmalci Elektrik Malzemeleri Pazarı">
    <meta name="author" content="Bora Ozturk">
    <meta name="keywords" content="Elektrik Malzemeleri">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/easy-autocomplete.min.css" rel="stylesheet">
    <link href="/css/easy-autocomplete.themes.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/registration.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/css/style.blue.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/kablo.png">
   

   <script type="text/javascript">
   $(document).ready(function() { 
       $('#cat1').change(
          function() {
             $.getJSON('/user/categories', {
            	parentId : $(this).val(),
                ajax : 'true'
             }, function(data) {
          	  var html = '<option value="">Kategori Seçiniz</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                   html += '<option value="' + data[i].id + '">'
                         + data[i].name + '</option>';
                }
                html += '</option>';
     
                $('#cat2').html(html);
             });
          });
    });
    $(document).ready(function() { 
        $('#cat2').change(
           function() {
              $.getJSON('/user/categories', {
             	parentId : $(this).val(),
                 ajax : 'true'
              }, function(data) {
           	  var html = '<option value="">Alt Kategori Seçiniz</option>';
                 var len = data.length;
                 for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                          + data[i].name + '</option>';
                 }
                 html += '</option>';
      
                 $('#cat3').html(html);
              });
           });
     });
    $(document).ready(function() { 
        $('#cat1Side').change(
           function() {
              $.getJSON('/user/categories', {
             	parentId : $(this).val(),
                 ajax : 'true'
              }, function(data) {
           	  var html = '<option value="">Kategori Seçiniz</option>';
                 var len = data.length;
                 for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                          + data[i].name + '</option>';
                 }
                 html += '</option>';
      
                 $('#cat2Side').html(html);
              });
           });
     });
     $(document).ready(function() { 
         $('#cat2Side').change(
            function() {
               $.getJSON('/user/categories', {
              	parentId : $(this).val(),
                  ajax : 'true'
               }, function(data) {
            	  var html = '<option value="">Alt Kategori Seçiniz</option>';
                  var len = data.length;
                  for ( var i = 0; i < len; i++) {
                     html += '<option value="' + data[i].id + '">'
                           + data[i].name + '</option>';
                  }
                  html += '</option>';
       
                  $('#cat3Side').html(html);
               });
            });
      });
     
     var options = {

   		  url: function(phrase) {
   		    return "/user/product/category/make?make="+phrase+ "&categoryId="+ $('#cat3').val();
   		  },

   		  getValue: function(element) {
   		    return element;
   		  },

   		  ajaxSettings: {
   		    dataType: "json",
   		    method: "POST",
   		    data: {
   		      dataType: "json"
   		    }
   		  },

   		  preparePostData: function(data) {
   		    data.phrase = $("#make").val();
   		    return data;
   		  },

   		  requestDelay: 500
   		};
    
     $(document).ready(function() { 
    	$("#make").easyAutocomplete(options);
     });
    
     var optionsModel = {

   		  url: function(phrase) {
   		    return "/user/product/category/make/model?model="+phrase+"&categoryId="+ $('#cat3').val()+"&make="+ $('#make').val();
   		  },

   		  getValue: function(element) {
   		    return element;
   		  },

   		  ajaxSettings: {
   		    dataType: "json",
   		    method: "POST",
   		    data: {
   		      dataType: "json"
   		    }
   		  },

   		  preparePostData: function(data) {
   		    data.phrase = $("#model").val();
   		    return data;
   		  },

   		  requestDelay: 500
   		};
    
     $(document).ready(function() { 
    	$("#model").easyAutocomplete(optionsModel);
     });
     
     var optionsSerial = {

   		  url: function(phrase) {
   		    return "/user/product/category/make/model/serial?serial="+phrase+"&categoryId="+ $('#cat3').val()+"&make="+ $('#make').val()+"&model="+ $('#model').val();
   		  },

   		  getValue: function(element) {
   		    return element;
   		  },

   		  ajaxSettings: {
   		    dataType: "json",
   		    method: "POST",
   		    data: {
   		      dataType: "json"
   		    }
   		  },

   		  preparePostData: function(data) {
   		    data.phrase = $("#serial").val();
   		    return data;
   		  },

   		  requestDelay: 500
   		};
    
     $(document).ready(function() { 
    	$("#serial").easyAutocomplete(optionsSerial);
     });
     
     function clearModel() {
    	 document.getElementById("model").value="";
    	 clearSerial();
     }
     function clearSerial() {
    	 document.getElementById("serial").value="";
     }
	 
     
    
    </script>
</head>

<body>

   <div th:replace="fragments/header :: myheader"></div>

   <div id="all">
      <div id="content">
         <div class="container">
            <div class="col-md-3">
               <div th:replace="user/leftnav :: userleftnav"></div>
            </div>
            
            <div class="col-md-9">
              <div class="box">
                  <h1 th:text="#{user.listing.header}">My Store</h1>
                  <p class="text-muted" th:text="#{user.listing.header.text}"></p>

                  <hr/>
                  <form name="f" th:action="@{/user/listing}" th:object="${listingDto}" method="post" class="form-horizontal">
                  
                  <input type="hidden" id="listingId" name="listingId" th:field="*{listingId}">
                  
                  <div class="col-md-9" th:if="${not #strings.isEmpty(errorMessage)}">
                     <div class="products-sort-by">
                        <label  th:text="${errorMessage}" class="alert alert-danger"></label>
                     </div>
                  </div>
                  
                  <div class="col-md-6">
                   <strong class="label label-danger"><th:block th:text="#{user.listing.store}"></th:block></strong>
                      <select class="form-control" id="storeId" name="storeId" required>
                        <option value="">Mağaza Seçiniz</option>
                        <option th:each="s : ${stores}" th:value="${s.storeId}" th:text="${s.storeName}" th:selected="(${s.storeId} == *{storeId})">Cat1</option>
                     </select>
                  </div>
                  
                 <div class="col-md-6">
                   <strong class="label label-danger"><th:block th:text="#{user.product.cat1}"></th:block></strong>
                      <select class="form-control" id="cat1" name="cat1" required>
                        <option value="">Ana Kategori</option>
                        <option th:each="c1 : ${cat1s}" th:value="${c1.id}" th:text="${c1.name}" th:selected="(${c1.id} == *{cat1})">Cat1</option>
                     </select>
                  </div>
           
                  <div class="col-md-6">
                    <strong class="label label-danger"><th:block th:text="#{user.product.cat2}"></th:block></strong>
                      <select class="form-control" id="cat2" name="cat2" required>
                        <option th:each="c2 : ${cat2s}" th:value="${c2.id}" th:text="${c2.name}" th:selected="(${c2.id} == *{cat2})">Cat2</option>
                     </select>
                   </div>
                    
                   <div class="col-md-6">
                     <strong class="label label-danger"><th:block th:text="#{user.product.cat3}"></th:block></strong>
                      <select class="form-control" id="cat3" name="cat3" required>
                        <option th:each="c3 : ${cat3s}" th:value="${c3.id}" th:text="${c3.name}" th:selected="(${c3.id} == *{cat3})">Cat3</option>
                     </select>
                   </div>
                  
                    <div class="col-md-9">
                        <label for="make" class="label label-danger"><strong><th:block th:text="#{user.product.table.make}"></th:block></strong></label>
                        <input type="text" class="form-control" id="make" name="make" th:field="*{make}" onblur="clearModel()" required />
                   </div>
                     
                   <div class="col-md-9">
                       <label for="model" class="label label-danger"><strong><th:block th:text="#{user.product.table.model}"></th:block></strong></label>
                       <input type="text" class="form-control" id="model" name="model" th:field="*{model}" onblur="clearSerial()" required/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="serial" class="label label-danger"><strong><th:block th:text="#{user.product.table.serial}"></th:block></strong></label>
                       <input type="text" class="form-control" id="serial" name="serial" th:field="*{serial}" required/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="header" class="label label-danger"><strong><th:block th:text="#{user.listing.header2}"></th:block></strong></label>
                       <input type="text" class="form-control" id="header" name="header" th:field="*{header}" required/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="price" class="label label-danger"><strong><th:block th:text="#{user.listing.price}"></th:block></strong></label>
                       <input type="text" class="form-control" id="price" name="price" th:field="*{price}" required/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="count" class="label label-danger"><strong><th:block th:text="#{user.listing.count}"></th:block></strong></label>
                       <input type="text" class="form-control" id="count" name="count" th:field="*{count}"/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="phone" class="label label-primary"><strong><th:block th:text="#{user.listing.phone}"></th:block></strong></label>
                       <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}"/>
                   </div>
                   
                   <div class="col-md-9">
                       <label for="description" class="label label-primary"><strong><th:block th:text="#{user.listing.description}"></th:block></strong></label>
                       <input type="text" class="form-control" id="description" name="description" th:field="*{description}"/>
                   </div>                        
                   
                   <hr>
                    
                   <div class="form-group">
                      <div class="col-md-9 text-center">
                        <br/>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>OK</button>
                     </div>
                   </div> 
                </form>       

               </div>
            </div>          
         </div>
      </div>
   </div>

   <div th:replace="fragments/footer :: myfooter"></div>

</body>

</html>