<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Elmalci Elektrik Malzemeleri Pazarı</title>
	
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
  	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script -->
  	<!--  script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script  -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-ui-1-11-0.min.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>
  	<script src="/js/respond.min.js"></script>
    <script src="/js/front.js"></script>
   

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elmalci Elektrik Malzemeleri Pazarı">
    <meta name="author" content="Bora Ozturk">
    <meta name="keywords" content="Elektrik Malzemeleri">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/easy-autocomplete.min.css" rel="stylesheet">
    <link href="/css/easy-autocomplete.themes.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/registration.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/css/style.blue.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/kablo.png">
   

   <script type="text/javascript">
     $(document).ready(function() { 
        if (window.File && window.FileReader && window.FormData) {
    		var $inputField = $('#file1');

    		$inputField.on('change', function (e) {
    			
    			var file = e.target.files[0];
    			var fileType=file["type"];
				var ValidImageTypes = ["image/gif","image/jpeg","image/jpg","image/png"];
				
				if (file && $.inArray(fileType,ValidImageTypes) >= 0) {
					readFile(file);
    				//$("#f1").submit();
    			} else {
    				alert('Resim Geçersiz!');
    			}
    		});
 	    }else {
 		   alert("Resim Yükleme Bu Ortamdan Desteklenmiyor!");
 	    }
     });
 
     function readFile(file) {
  		var reader = new FileReader();

  		reader.onloadend = function (e) {
  			processFile(reader.result, file.type);
  			$("#img1").attr('src',e.target.result)
  		}

  		reader.onerror = function () {
  			alert('Resim yükleme hatası!');
  		}

  		reader.readAsDataURL(file);
  	}

    function processFile(dataURL, fileType) {
    	var maxWidth = 100;
    	var maxHeight = 100;

    	var image = new Image();
    	image.src = dataURL;

    	image.onload = function () {
    		var width = image.width;
    		var height = image.height;
    		var shouldResize = (width > maxWidth) || (height > maxHeight);

    		if (!shouldResize) {
    			sendFile(dataURL);
    			return;
    		}

    		var newWidth;
    		var newHeight;

    		if (width > height) {
    			newHeight = height * (maxWidth / width);
    			newWidth = maxWidth;
    		} else {
    			newWidth = width * (maxHeight / height);
    			newHeight = maxHeight;
    		}

    		var canvas = document.createElement('canvas');

    		canvas.width = newWidth;
    		canvas.height = newHeight;

    		var context = canvas.getContext('2d');

    		context.drawImage(this, 0, 0, newWidth, newHeight);

    		dataURL = canvas.toDataURL(fileType);

    		sendFile(dataURL);
    		
    	};

    	image.onerror = function () {
    		alert('There was an error processing your file!');
    	};
    }
    
    function sendFile(fileData) {
 		var formData = new FormData();

 		formData.append('imageData', fileData);

 		$.ajax({
 			type: 'POST',
 			url: '/user/listingphoto',
 			data: formData,
 			contentType: false,
 			processData: false,
 		}).done(function() {
 		    alert( "success" );
 		  }) .fail(function() {
 			    alert( "error" );
 		  });
 	}
    
    function isUploadSupported() {
 	    if (navigator.userAgent.match(/(Android (1.0|1.1|1.5|1.6|2.0|2.1))|(Windows Phone (OS 7|8.0))|(XBLWP)|(ZuneWP)|(w(eb)?OSBrowser)|(webOS)|(Kindle\/(1.0|2.0|2.5|3.0))/)) {
 	        return false;
 	    }
 	    var elem = document.createElement('input');
 	    elem.type = 'file';
 	    return !elem.disabled;
 	};
    </script>
</head>

<body>

   <div th:replace="fragments/header :: myheader"></div>

   <div id="all">
      <div id="content">
         <div class="container">
            <div class="col-md-3">
               <div th:replace="user/leftnav :: userleftnav"></div>
            </div>
            
            
            <div class="col-md-9">
              <div class="box">
                  <h1 th:text="#{user.listing.header}">My Store</h1>
                  <p class="text-muted" th:text="#{user.listing.header.text}"></p>

                  <hr/>
            
                  <form id="f1" name="f1" th:action="@{/user/listingphoto}" th:object="${photoDto}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  
                  <input type="hidden" id="listingId" name="listingId" th:field="*{listingId}">
                  <input type="hidden" id="porder" name="porder" value="1">
                  <div class="col-md-9" th:if="${not #strings.isEmpty(errorMessage)}">
                     <div class="products-sort-by">
                        <label  th:text="${errorMessage}" class="alert alert-danger"></label>
                     </div>
                  </div>
                  <div class="col-md-6">
                      <label for="description" class="label label-primary"><strong><th:block th:text="#{user.listing.file1}"></th:block></strong></label>
                      <input type="file" accept="image/*" capture="camera" class="form-control" id="file1" name="file1" />
                      <img id="img1" src="#"/>
                  </div>  
                 
                   <hr>
                    
                   <div class="form-group">
                      <div class="col-md-9 text-center">
                        <br/>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>OK</button>
                     </div>
                   </div> 
                </form>       

               </div>
            </div>          
         </div>
      </div>
   </div>

   <div th:replace="fragments/footer :: myfooter"></div>

</body>

</html>