<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Elmalci Elektrik Malzemeleri Pazarı</title>
	
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
  	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script -->
  	<!--  script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script  -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>
  	<script src="/js/respond.min.js"></script>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elmalci Elektrik Malzemeleri Pazarı">
    <meta name="author" content="Bora Ozturk">
    <meta name="keywords" content="Elektrik Malzemeleri">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/registration.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/css/style.blue.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/kablo.png">
   

   <script type="text/javascript">
   $(document).ready(function() { 
       $('#cat1').change(
          function() {
             $.getJSON('/user/categories', {
            	parentId : $(this).val(),
                ajax : 'true'
             }, function(data) {
          	  var html = '<option value="">Kategori Seçiniz</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                   html += '<option value="' + data[i].id + '">'
                         + data[i].name + '</option>';
                }
                html += '</option>';
     
                $('#cat2').html(html);
             });
          });
    });
    $(document).ready(function() { 
        $('#cat2').change(
           function() {
              $.getJSON('/user/categories', {
             	parentId : $(this).val(),
                 ajax : 'true'
              }, function(data) {
           	  var html = '<option value="">Alt Kategori Seçiniz</option>';
                 var len = data.length;
                 for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                          + data[i].name + '</option>';
                 }
                 html += '</option>';
      
                 $('#cat3').html(html);
              });
           });
     });
    $(document).ready(function() { 
        $('#cat1Side').change(
           function() {
              $.getJSON('/user/categories', {
             	parentId : $(this).val(),
                 ajax : 'true'
              }, function(data) {
           	  var html = '<option value="">Kategori Seçiniz</option>';
                 var len = data.length;
                 for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                          + data[i].name + '</option>';
                 }
                 html += '</option>';
      
                 $('#cat2Side').html(html);
              });
           });
     });
     $(document).ready(function() { 
         $('#cat2Side').change(
            function() {
               $.getJSON('/user/categories', {
              	parentId : $(this).val(),
                  ajax : 'true'
               }, function(data) {
            	  var html = '<option value="">Alt Kategori Seçiniz</option>';
                  var len = data.length;
                  for ( var i = 0; i < len; i++) {
                     html += '<option value="' + data[i].id + '">'
                           + data[i].name + '</option>';
                  }
                  html += '</option>';
       
                  $('#cat3Side').html(html);
               });
            });
      });
   </script>
</head>

<body>

   <div th:replace="fragments/header :: myheader"></div>

   <div id="all">
      <div id="content">
         <div class="container">
            <div class="col-md-3">
               <div th:replace="user/leftnav :: userleftnav"></div>
            </div>
            
            <div class="col-md-9">
              <div class="box">
                  <h1 th:text="#{user.product.header}">My Store</h1>
                  <p class="lead" th:text="#{user.product.header.lead}"></p>
                  <p class="text-muted" th:text="#{user.product.header.text}"></p>

                  <hr/>
                  <form name="f" th:action="@{/user/product}" th:object="${productDto}" method="post" class="form-horizontal">
                  
                  <input type="hidden" id="productId" name="productId" th:field="*{productId}">
                  
                  <div class="col-md-9" th:if="${not #strings.isEmpty(errorMessage)}">
                     <div class="products-sort-by">
                        <label  th:text="${errorMessage}" class="alert alert-danger"></label>
                     </div>
                  </div>
                  
                 <div class="col-md-6">
                   <strong class="label label-danger"><th:block th:text="#{user.product.cat1}"></th:block></strong>
                      <select class="form-control" id="cat1" name="cat1" required>
                        <option value="">Ana Kategori</option>
                        <option th:each="c1 : ${cat1s}" th:value="${c1.id}" th:text="${c1.name}" th:selected="(${c1.id} == *{cat1})">Cat1</option>
                     </select>
                  </div>
                  
                  <div class="col-md-6">
                    <strong class="label label-danger"><th:block th:text="#{user.product.cat2}"></th:block></strong>
                      <select class="form-control" id="cat2" name="cat2" required>
                        <option th:each="c2 : ${cat2s}" th:value="${c2.id}" th:text="${c2.name}" th:selected="(${c2.id} == *{cat2})">Cat2</option>
                     </select>
                     </div>
                     
                    
                   <div class="col-md-6">
                     <strong class="label label-danger"><th:block th:text="#{user.product.cat3}"></th:block></strong>
                      <select class="form-control" id="cat3" name="cat3" required>
                        <option th:each="c3 : ${cat3s}" th:value="${c3.id}" th:text="${c3.name}" th:selected="(${c3.id} == *{cat3})">Cat3</option>
                     </select>
                   </div>
                   
                  
                   <div class="col-md-9">
                        <label for="make" class="label label-danger"><strong><th:block th:text="#{user.product.table.make}"></th:block></strong></label>
                        <input type="text" class="form-control" id="make" name="make" th:field="*{make}" required/>
                   </div>
                     
                   <div class="col-md-9">
                       <label for="model" class="label label-danger"><strong><th:block th:text="#{user.product.table.model}"></th:block></strong></label>
                       <input type="text" class="form-control" id="model" name="model" th:field="*{model}" required/>
                   </div>
                     
                   <div class="col-md-12">
                       <label for="description" class="label label-primary"><strong><th:block th:text="#{user.product.table.description}"></th:block></strong></label>
                       <input type="text" class="form-control" id="description" name="description" th:field="*{description}"/>
                   </div>                        
                     
                   <div class="col-md-9">
                       <label for="barcode" class="label label-primary"><strong><th:block th:text="#{user.product.table.barcode}"></th:block></strong></label>
                       <input type="text" class="form-control" id="barcode" name="barcode" th:field="*{barcode}"/>
                   </div>
                 
                 <hr>
                    
                   <div class="col-md-9">
                        <label class="label label-primary">Yan Kategori Bilgileri:</label>
                   </div>
   
                   <div class="col-md-6">
                       <strong class="label label-primary"><th:block th:text="#{user.product.cat1}"></th:block></strong>
                         <select class="form-control" id="cat1Side" name="cat1Side">
                           <option value="">Ana Kategori</option>
                           <option th:each="c1Side : ${cat1Sides}" th:value="${c1Side.id}" th:text="${c1Side.name}" th:selected="(${c1Side.id} == *{cat1Side})">Cat1</option>
                       </select>
                  </div>
                  
                  <div class="col-md-6">
                    <strong class="label label-primary"><th:block th:text="#{user.product.cat2}"></th:block></strong>
                      <select class="form-control" id="cat2Side" name="cat2Side">
                        <option th:each="c2Side : ${cat2Sides}" th:value="${c2Side.id}" th:text="${c2Side.name}" th:selected="(${c2Side.id} == *{cat2Side})">Cat2</option>
                     </select>
                     </div>
                     
                    
                   <div class="col-md-6">
                     <strong class="label label-primary"><th:block th:text="#{user.product.cat3}"></th:block></strong>
                      <select class="form-control" id="cat3Side" name="cat3Side">
                        <option th:each="c3Side : ${cat3Sides}" th:value="${c3Side.id}" th:text="${c3Side.name}" th:selected="(${c3Side.id} == *{cat3Side})">Cat3</option>
                     </select>
                   </div>          
                  
                    <div class="form-group">
                             <div class="col-md-9 text-center">
                                 <br/>
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>OK</button>
                             </div>
                        </div> 
                </form>       

               </div>
            </div>          
         </div>
      </div>
   </div>

   <div th:replace="fragments/footer :: myfooter"></div>

</body>

</html>