<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Elmalci Elektrik Malzemeleri Pazarı</title>
	
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
  	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script -->
  	<!--  script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script  -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>
  	<script src="/js/respond.min.js"></script>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Elmalci Elektrik Malzemeleri Pazarı">
    <meta name="author" content="Bora Ozturk">
    <meta name="keywords" content="Elektrik Malzemeleri">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/registration.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/css/style.blue.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/kablo.png">
   

   <script type="text/javascript">
      $(document).ready(function() { 
         $('#countryId').change(
            function() {
               $.getJSON('/user/cities', {
              	countryId : $(this).val(),
                  ajax : 'true'
               }, function(data) {
            	  var html = '<option value="">Şehir Seçiniz</option>';
                  var len = data.length;
                  for ( var i = 0; i < len; i++) {
                     html += '<option value="' + data[i].cityId + '">'
                           + data[i].cityName + '</option>';
                  }
                  html += '</option>';
       
                  $('#cityId').html(html);
               });
            });
      });
      $(document).ready(function() { 
          $('#cityId').change(
             function() {
                $.getJSON('/user/counties', {
               	cityId : $(this).val(),
                   ajax : 'true'
                }, function(data) {
                	var html = '<option value="">İlçe Seçiniz</option>';
                   var len = data.length;
                   for ( var i = 0; i < len; i++) {
                      html += '<option value="' + data[i].countyId + '">'
                            + data[i].countyName + '</option>';
                   }
                   html += '</option>';
        
                   $('#countyId').html(html);
                });
             });
       });
       $(document).ready(function() { 
          $('#countyId').change(
             function() {
                $.getJSON('/user/areas', {
               	countyId : $(this).val(),
                   ajax : 'true'
                }, function(data) {
                	var html = '<option value="">Semt Seçiniz</option>';
                   var len = data.length;
                   for ( var i = 0; i < len; i++) {
                      html += '<option value="' + data[i].areaId + '">'
                            + data[i].areaName + '</option>';
                   }
                   html += '</option>';
        
                   $('#areaId').html(html);
                });
             });
       });
       $(document).ready(function() { 
           $('#areaId').change(
              function() {
                 $.getJSON('/user/neighborhoods', {
                	areaId : $(this).val(),
                    ajax : 'true'
                 }, function(data) {
                	 var html = '<option value="">Mahalle/Köy Seçiniz</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                       html += '<option value="' + data[i].neighborhoodId + '">'
                             + data[i].neighborhoodName + '</option>';
                    }
                    html += '</option>';
         
                    $('#neighborhoodId').html(html);
                 });
              });
        });
   </script>
</head>

<body>

   <div th:replace="fragments/header :: myheader"></div>

   <div id="all">
      <div id="content">
         <div class="container">
            <div class="col-md-3">
               <div th:replace="user/leftnav :: userleftnav"></div>
            </div>
            
            <div class="col-md-9">
                    <div class="box">
                        <h1 th:text="#{user.store.header}">My Store</h1>
                        <p class="lead" th:text="#{user.store.header.lead}"></p>
                        <p class="text-muted" th:text="#{user.store.header.text}"></p>

                        <hr/>
                        <form name="f" th:action="@{/user/store}" th:object="${store}" method="post" class="form-horizontal">
                        
                        <input type="hidden" id="storeId" name="storeId" th:field="*{storeId}">
                        
                        <div class="col-md-9" th:if="${not #strings.isEmpty(errorMessage)}">
                           <div class="products-sort-by">
                              <label  th:text="${errorMessage}" class="alert alert-danger"></label>
                           </div>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                               <label for="lastName" class="label label-danger"><strong><th:block th:text="#{user.store.table.name}"></th:block></strong></label>
                               <input type="text" class="form-control" id="storeName" name="storeName" th:field="*{storeName}" required/>
                           </div>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                              <strong class="label label-danger"><th:block th:text="#{user.store.table.ulke}"></th:block></strong>
                               <select th:field="*{countryId}" class="form-control" required>
                                 <option th:each="country : ${countries}" th:value="${country.countryId}" th:text="${country.countryName}" th:selected="*{countryId}">Wireframe</option>
                              </select>
                           </div>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                              <strong class="label label-danger"><th:block th:text="#{user.store.table.il}"></th:block></strong> 
                              <select  id="cityId" name="cityId" class="form-control" required>
                                 <option value="Şehir Seçiniz">Önce Ülke Seçiniz</option>
                                 <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.cityName}" th:field="*{cityId}">Wireframe</option>
                              </select>
                           </div>
                           <label th:if="${#fields.hasErrors('cityId')}" th:errors="*{cityId}" class="validation-message" ></label>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                              <strong class="label label-danger"><th:block th:text="#{user.store.table.ilce}"></th:block></strong> 
                              <select  id="countyId" name="countyId" class="form-control">
                                 <option value="İlçe Seçiniz">Önce Şehir Seçiniz</option>
                                 <option th:each="county : ${counties}" th:value="${county.countyId}" th:text="${county.countyName}" th:field="*{countyId}">Wireframe</option>
                              </select>
                           </div>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                              <strong class="label label-danger"><th:block th:text="#{user.store.table.semt}"></th:block></strong> 
                              <select  id="areaId" name="areaId" class="form-control">
                                 <option value="Semt Seçiniz">Önce İlçe Seçiniz</option>
                                 <option th:each="area : ${areas}" th:value="${area.areaId}" th:text="${area.areaName}" th:field="*{areaId}">Wireframe</option>
                              </select>
                           </div>
                        </div>
                        
                        <div class="col-md-9">
                           <div class="products-sort-by">
                              <strong class="label label-danger"><th:block th:text="#{user.store.table.mahalle}"></th:block></strong> 
                              <select id="neighborhoodId" name="neighborhoodId" class="form-control">
                                 <option value="Mahalle Seçiniz">Önce Semt Seçiniz</option>
                                 <option th:each="neighborhood : ${neighborhoods}" th:value="${neighborhood.neighborhoodId}" th:text="${neighborhood.neighborhoodName}" th:field="*{neighborhoodId}"></option>
                              </select>
                           </div>
                        </div>
                 
                       <div class="col-md-9">
                               <label for="cadde" class="label label-primary"><strong><th:block th:text="#{user.store.table.cadde}"></th:block></strong></label>
                               <input type="text" class="form-control" id="cadde" name="cadde" th:field="*{cadde}"/>
                        </div>
                        
                        <div class="col-md-9">
                               <label for="sokak" class="label label-primary"><strong><th:block th:text="#{user.store.table.sokak}"></th:block></strong></label>
                               <input type="text" class="form-control" id="sokak" name="sokak" th:field="*{sokak}"/>
                        </div>
                        
                        <div class="col-md-9">
                               <label for="kapi" class="label label-primary"><strong><th:block th:text="#{user.store.table.kapi}"></th:block></strong></label>
                               <input type="text" class="form-control" id="kapi" name="kapi" th:field="*{kapi}"/>
                        </div>
                        
                        <div class="col-md-9">
                               <label for="apartman" class="label label-primary"><strong><th:block th:text="#{user.store.table.apartman}"></th:block></strong></label>
                               <input type="text" class="form-control" id="apartman" name="apartman" th:field="*{apartman}"/>
                        </div>
                        
                        <div class="col-md-9">
                               <label for="daire" class="label label-primary"><strong><th:block th:text="#{user.store.table.daire}"></th:block></strong></label>
                               <input type="text" class="form-control" id="daire" name="daire" th:field="*{daire}"/>
                               <br/>
                        </div>
                        
                        <div class="form-group">
                             <div class="col-md-9 text-center">
                                  
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>OK</button>
                                  
                             </div>
                        </div> 

                   </form>       

                  </div>
              </div>          
         </div>
      </div>
   </div>

   <div th:replace="fragments/footer :: myfooter"></div>

</body>

</html>