<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head">

</head>

<body>

   <div th:replace="fragments/header :: myheader"></div>

   <div id="all">

      <div id="content">


         <div class="container bs-container big-font-container">
            <div class="row row-centered">
               <div class="bs-section col-lg-4 col-centered">
                  <div id="form-table">
                     <!--/*@thymesVar id="forgotEmailDTO" type="com.nixmash.springdata.jpa.dto.ForgotEmailDTO"*/-->
                     <form name="f" th:action="@{/changepassword}" th:object="${userPasswordDTO}" method="post" class="form-horizontal">

                        <input type="hidden" name="userId" th:value="*{userId}" /> 
                        <input type="hidden" name="verificationToken" th:value="*{verificationToken}" />

                        <div th:if="${#fields.hasGlobalErrors()}" class="has-error col-lg-offset-2 alert alert-dismissible alert-danger">
                           <button type="button" class="close" data-dismiss="alert">×</button>
                           <label class="control-label" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                        </div>

                        <fieldset>
                           <div class="form-group">
                              <h3 th:text="#{yeniSifre}"></h3>
                           </div>
                           <div class="form-group">
                              <label for="password" th:text="#{password}"></label> <input type="password" th:field="*{password}" class="form-control" /> <label
                                 th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                           </div>
                           <div class="form-group">
                              <label for="repassword" th:text="#{repassword}"></label> <input type="password" th:field="*{repassword}" class="form-control" /> <label
                                 th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" class="validation-message"></label>
                           </div>
                           <div class="form-group">
                               <button type="submit" class="btn btn-primary" th:text="#{sifreDegistir}">[Submit]</button>
                           </div>
                        </fieldset>
                     </form>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div th:replace="fragments/footer :: myfooter"></div>
   <!-- /#all -->


</body>

</html>
