<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head">

</head>

<body>

	<div th:replace="fragments/header :: myheader"></div>

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a th:href="@{/index}"><th:block th:text="#{home}"/></a>
                        </li>
                        <li><th:block th:text="#{newAccOrSignIn}"/></li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1><th:block th:text="#{newAccount}"/></h1>

                        <p class="lead"><th:block th:text="#{reg_1}"/></p>
                        <p><th:block th:text="#{reg_2}"/></p>
                        <p class="text-muted"><th:block th:text="#{reg_31}"/><a href="contact.html"><th:block th:text="#{reg_32}"/></a><th:block th:text="#{reg_33}"/></p>
                        <hr>
						<span th:utext="${successMessage}"></span>
						<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
                        	<div class="form-group">
                        	   <label for="name" th:text="#{name}"></label>
                               <input type="text" th:field="*{name}" class="form-control" />
                               <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message" ></label>
                            </div>
                            <div class="form-group">
                        	   <label for="lastName" th:text="#{lastName}"></label>
                               <input type="text" th:field="*{lastName}" class="form-control" />
                               <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message" ></label>
                            </div>
                            <div class="form-group">
                        	   <label for="email" th:text="#{email}"></label>
                               <input type="text" th:field="*{email}" class="form-control" />
                               <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message" ></label>
                            </div>
                            <div class="form-group">
                        	   <label for="password" th:text="#{password}"></label>
                               <input type="password" th:field="*{password}" class="form-control" />
                               <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message" ></label>
                            </div>
                            <div class="form-group">
                        	   <label for="repassword" th:text="#{repassword}"></label>
                               <input type="password" th:field="*{repassword}" class="form-control" />
                               <label th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" class="validation-message" ></label>
                            </div>
                            <div class="form-group">
                        	   <label for="phone" th:text="#{phone}"></label>
                               <input type="tel" th:field="*{phone}" class="form-control" placeholder="90-XXX-XX-XX" />
                               <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="validation-message" ></label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i><th:block th:text="#{register}"/></button>
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1 th:text="#{login}"></h1>

                        <p class="lead" th:text="#{alreadyCustomer}">Already our customer?</p>
                        <p class="text-muted" th:text="#{pleaseLogin}">Please login with your credentials</p>

                        <hr>
                        <form autocomplete="off" action="#" th:action="@{/login}" method="post" role="form">
							<div th:if="${not #strings.isEmpty(errorMessage)}" class="form-group">
                            	<span th:text="${errorMessage}" class="alert alert-danger"></span>
                            </div>
                           <div class="form-group">	
                        	   <label for="username" th:text="#{username}"></label>
                               <input type="text" class="form-control" id="username" name="username" />
                            </div>
                            <div class="form-group">
                        	   <label for="password" th:text="#{password}"></label>
                               <input type="password" class="form-control" id="password" name="password" />
                            </div>
                            <div class="form-group">
                            	<a th:href="@{/forgotpassword}"><th:block th:text="#{forgotPassword}"/></a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i><th:block th:text="#{login}"/></button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


 	<div th:replace="fragments/footer :: myfooter"></div>


    </div>
    <!-- /#all -->


</body>

</html>
